<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700|Material+Icons">
    <environment include="Development">
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
        @*<link rel="stylesheet" href="~/lib/site.css" />*@
    </environment>
    <environment exclude="Development">
        @*<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />*@
        @*<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />*@
    </environment>
    @*<link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />*@
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/dist/site.css" asp-append-version="true" />
    </environment>
</head>

<body style="background-color:aliceblue; height:100%">
    @RenderBody()

    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    @*<script src="~/dist/datajs-1.1.2.js"></script>*@
    @*<script src="~/dist/jquery-2.1.4.min.js"></script>*@
    <script src="~/lib/numeral.min.js"></script>
    @*<script src="~/dist/classie.js"></script>
    <script src="~/dist/borderMenu.js"></script>*@
    @RenderSection("scripts", required: false)
</body>

</html>
