::before, ::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/****************/
body,
html {
    height: 100%;
    font-size: 16px !important;
    letter-spacing: 0.01em !important;
    -webkit-text-size-adjust: 100%;
    font-family: Roboto,Noto Sans,-apple-system,BlinkMacSystemFont,sans-serif;
    color: rgba(0,0,0,0.87) !important;
}
/*p {
    letter-spacing: 0.01em !important;
}*/
.bold{
    font-weight:500;
}
.text-skypay-primary {
    color: #3f98a6 !important
}
.text-skypay-secondary {
    color: #3d5480!important
}
.bg-skypay-primary {
    background-color: #3f98a6 !important
}

.bg-skypay-secondary {
    background-color: #3d5480 !important
}
p,a,span {
    letter-spacing: 0.01em !important;
}
.nav {
    list-style:none
}
.nav li{
    float:left
}
.nav a {
    font-weight: 500;
    color: rgba(255,255,255,0.87);
}
    .nav a:hover, .nav a:active, .nav a:focus {
        background-color: transparent !important;
        color: #fff !important
    }
#comp {
        font-size: 16px;
        font-weight: 500
    }
.navbar-skypay .icon-bar {
    background-color: rgba(255,255,255,0.87);
}
.navbar-skypay .hamburger:hover .icon-bar {
    background-color: #fff;
}
.row {
    margin:0!important
}
.navbar-skypay {
    background-color: #3f98a6;
    height: 52px;
    /*border-bottom: solid 1px #3f98a6*/
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: transparent;
}
.e-play-icon::before {
    content: 'keyboard_arrow_down';
}
.material-icons.e-btn-icon{
    font-size:24px!important;
}
/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/
#app, #wrapper {
    height: 100%;
    width: 100%;
    overflow-x: hidden
}
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    overflow-x:hidden;
    width:100%;
    box-sizing:content-box;

}

    #wrapper.toggled {
        padding-left: 220px;
    }

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

    #sidebar-wrapper::-webkit-scrollbar {
        display: none;
    }

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 70px;

}

#wrapper.toggled #page-content-wrapper {
    margin-right: -220px;
    /*position: absolute;*/
}
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(100,100,100,.5);
    z-index: 1;
}
.hamburger span {
    transition: all .8s ease;
}
#wrapper.toggled .hamburger span:first-child {

    transform: translateY(6px) rotate(45deg);

}
#wrapper.toggled .hamburger span:last-child {

    transform: translateY(-6px) rotate(-45deg);

}
    #wrapper.toggled .hamburger span.middl{
        opacity:0;
    }
    /*-------------------------------*/
    /*     Sidebar nav styles        */
    /*-------------------------------*/
    .sidebar-nav {
        position: absolute;
        top: 0;
        width: 220px;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .sidebar-nav li {
        position: relative;
        line-height: 20px;
        display: inline-block;
        width: 100%;
    }

        .sidebar-nav li:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            height: 100%;
            width: 3px;
            background-color: #1c1c1c;
            -webkit-transition: width .2s ease-in;
            -moz-transition: width .2s ease-in;
            -ms-transition: width .2s ease-in;
            transition: width .2s ease-in;
        }

        .sidebar-nav li:first-child a {
            color: #fff;
            background-color: #1a1a1a;
        }

        .sidebar-nav li:nth-child(2):before {
            background-color: #ec1b5a;
        }

        .sidebar-nav li:nth-child(3):before {
            background-color: #79aefe;
        }

        .sidebar-nav li:nth-child(4):before {
            background-color: #314190;
        }

        .sidebar-nav li:nth-child(5):before {
            background-color: #279636;
        }

        .sidebar-nav li:nth-child(6):before {
            background-color: #7d5d81;
        }

        .sidebar-nav li:nth-child(7):before {
            background-color: #ead24c;
        }

        .sidebar-nav li:nth-child(8):before {
            background-color: #2d2366;
        }

        .sidebar-nav li:nth-child(9):before {
            background-color: #35acdf;
        }

        .sidebar-nav li:hover:before,
        .sidebar-nav li.open:hover:before {
            width: 100%;
            -webkit-transition: width .2s ease-in;
            -moz-transition: width .2s ease-in;
            -ms-transition: width .2s ease-in;
            transition: width .2s ease-in;
        }

        .sidebar-nav li a {
            display: block;
            color: #ddd;
            text-decoration: none;
            padding: 10px 15px 10px 30px;
        }

            .sidebar-nav li a:hover,
            .sidebar-nav li a:active,
            .sidebar-nav li a:focus,
            .sidebar-nav li.open a:hover,
            .sidebar-nav li.open a:active,
            .sidebar-nav li.open a:focus {
                color: #fff;
                text-decoration: none;
                background-color: transparent;
            }

    .sidebar-nav > .sidebar-brand {
        height: 65px;
        font-size: 20px;
        line-height: 44px;
    }

    .sidebar-nav .dropdown-menu {
        position: relative;
        width: 100%;
        padding: 0;
        margin: 0;
        border-radius: 0;
        border: none;
        background-color: #222;
        box-shadow: none;
    }
/****************/
/*.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}*/

.container1 {
    padding: 80px;
    background-color:beige;
    position:relative;
}
.navbar-main{
    border-radius:0!important;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding-left:100px
}

/******************/

/* Highlighting rules for nav menu items */
.main-nav li a.active,
.main-nav li a.active:hover,
.main-nav li a.active:focus {
    /*background-color: #4189C7;*/
    color: white;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.slide-fade-enter-active {
    transition: all .3s ease;
}

.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active до версии 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
}
@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .main-nav {
        height: 100%;
        width: calc(25% - 20px);
    }
    .main-nav .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
    }
    .main-nav .navbar-header {
        float: none;
    }
    .main-nav .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0px;
    }
    .main-nav .navbar ul {
        float: none;
    }
    .main-nav .navbar li {
        float: none;
        font-size: 15px;
        margin: 6px;
    }
    .main-nav .navbar li a {
        padding: 10px 16px;
        border-radius: 4px;
    }
    .main-nav .navbar a {
        /* If a menu item's text is too long, truncate it */
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
